name: Run k6 test
on: [push]

jobs:
  k6-load-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install k6
        run: |
          sudo apt-get update
          sudo apt-get install -y gnupg
          curl -fsSL https://dl.k6.io/key.gpg | sudo gpg --dearmor -o /usr/share/keyrings/k6-archive-keyring.gpg
          echo "deb [signed-by=/usr/share/keyrings/k6-archive-keyring.gpg] https://dl.k6.io/deb stable main" | sudo tee /etc/apt/sources.list.d/k6.list
          sudo apt-get update
          sudo apt-get install -y k6

      - name: Run k6 load test
        run: |
          k6 run Mao_na_massa/smoke.js

      - run: ls & mkdir report & mv index.html report

      - name: last step - upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: my-artifact
          path: report   
