name: Run k6 test
on: [push]

jobs:
  k6-load-test:
    runs-on: ubuntu-latest

    steps:
      - name: step 1 - checkout
        uses: grafana/setup-k6-action@v1

      - name: step 2 - run k6 load test
        uses: grafana/setup-k6-action@v1
        run:
          k6 run ./Mao_na_massa/smoke.js


